<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />

  <title>Demo Chart.js</title>
</head>

<body>
  <main class="container">
    <nav aria-label="breadcrumb">
      <ul>
        <li><a href="../">หน้าหลัก</a></li>
        <li>แก้ไขชื่องาน</li>
      </ul>
    </nav>
    <form th:action="@{/update/{id}(id=${task.id})}" th:object="${task}" method="post"
      onsubmit="return confirm('ยืนยันที่จะแก้ไขชื่องาน?');">
      <fieldset>
        <label>
          ⌚ เวลา
          <input th:value="${task.time}" type="text" name="time" readonly />
        </label>
        <label hidden>
          ⌛ ระยะเวลา
          <input th:value="${task.duration}" type="text" name="duration" readonly />
        </label>
        <label>
          ชื่องาน เก่า
          <input th:value="${task.task}" type="text" name="old_task" readonly disabled />
        </label>
        <label>
          ชื่องาน ใหม่ <span style="color:red">*</span>
          <input type="text" name="task" placeholder="ใส่ชื่องานใหม่ที่นี่" required
            aria-describedby="required-helper" />
          <small id="required-helper"> <span style="color:red">*</span> จำเป็นต้องใส่ชื่องานใหม่</small>
        </label>
      </fieldset>

      <fieldset class="grid">
        <input type="reset" value="รีเซ็ท" />
        <input type="submit" value="ยืนยัน" />
      </fieldset>
    </form>
  </main>
</body>

</html>