<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <title>Demo Chart.js</title>
</head>

<body>
  <main class="container">
    <div>
      <h1>บันทึกเวลาทำงาน</h1>
      <form action="/" method="get">
        <fieldset>
          <fieldset role="group">
            <input style="--pico-border-radius:0.25rem;" name="keyword" id="keyword" type="search"
              placeholder="พิมพ์เพื่อกรองข้อมูล" />
            <button type="submit">ค้นหา</button>
          </fieldset>
        </fieldset>
      </form>
    </div>
    <hr />
    <div class="grid">
      <div style="margin-bottom: 1rem;">
        <canvas id="show-chart"></canvas>
      </div>
      <div class="overflow-auto">
        <form action="/add" method="post" onsubmit="return confirm('ยืนยันที่จะบันทึก?')">
          <fieldset role="group">
            <input type="submit" value="เพิ่ม" />
            <input type="text" name="task" placeholder="พิมพ์ชื่องานใหม่" />
          </fieldset>
        </form>
        <table class="striped">
          <thead>
            <tr>
              <th scope="col">⌚บันทึก</th>
              <th scope="col">💪ชื่องาน</th>
              <th scope="col">⌛ใช้เวลา</th>
              <th scope="col">✏️</th>
              <th scope="col">🗑️</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" th:each="t:${tasks}">
              <td th:text="${t.time}" />
              <td th:text="${t.task}" />
              <td th:text="${t.duration}" class="duration" />
              <td>
                <a th:href="@{/edit/{id}(id=${t.id})}">แก้</a>
              </td>
              <td>
                <a th:href="@{/delete/{id}(id=${t.id})}" onclick="return confirm('ยืนยันที่จะลบข้อมูล?')">ลบ</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <script>
    console.log(document.querySelector("main"));
    // window.onload(() => {
    const raw = []
    document.querySelectorAll("tr").forEach((row) => {
      const DEFAULT_TASK_NAME = "ไม่ได้ระบุ"
      let time = 0
      let task = DEFAULT_TASK_NAME
      const thisRow = {};

      const cols = [...row.querySelectorAll("td").values()];
      for (let i = 0; i < cols.length; i++) {
        innerText = cols[i].innerText
        if (i === 2 && innerText !== "") {
          time = parseInt(innerText);
          if (time > 0) time = time / 1000
        }
        else if (i === 1 && innerText !== "") {
          task = innerText;
        }
      }
      if (time <= 0 || task == DEFAULT_TASK_NAME) return;

      if (raw.find((i) => i.task === task)) {
        raw.find((i) => i.task === task).time += time
      } else {
        raw.push({ task: task, time: time });
      }
    })

    raw.sort(
      (a, b) =>
        b.time - a.time
    )

    const duration = document.querySelectorAll(".duration");
    // change innerText from millisecond to hour and minute
    for (let i = 0; i < duration.length; i++) {
      const d = duration[i].innerText;

      const h = Math.floor(d / 3600000);
      const m = Math.floor((d % 3600000) / 60000);
      const s = Math.floor((d % 60000) / 1000);

      let newInnerText = ""

      if (h > 0) {
        newInnerText += h.toString().padStart("2", "0") + "h ";
      }
      if (m > 0) {
        newInnerText += m.toString().padStart("2", "0") + "m ";
      }
      if (s > 0) {
        newInnerText += s.toString().padStart("2", "0") + "s ";
      }

      duration[i].innerText = newInnerText
    }

    const ctx = document.getElementById("show-chart");
    const chart = new Chart(ctx, {
      type: "doughnut",
      data: {
        labels: raw.map((t) => t.task),
        datasets: [
          {
            label: "My First Dataset",
            data: raw.map((t) => t.time),
            hoverOffset: 4,
            color: "#666",
          },
        ],
      },
      options: {
        plugins: {
          legend: {
            labels: {
              font: {
                size: 16,
              },
            },
          },
        },
      },
    });
    // })
  </script>
</body>

</html>