<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />

  <title>My Application</title>
</head>

<body>
  <main class="container">
    <nav>
      <ul>
        <li>
          <h1>Add New Message</h1>
        </li>
      </ul>
    </nav>
    <form action="/addmessage" method="post">
      <div>
        <label>Message
          <input type="text" name="message" placeholder="Add new message." />
        </label>
      </div>
      <div class="grid">
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
      </div>
    </form>
  </main>
</body>

</html>